page-list-master {
  #image{
    margin: auto;
    padding-top:20px;
    padding-bottom: 40px;
    width:100%;
    text-align:center;
  }

  #image img{
    width:150px;
  }

  button{
    height: 70px !important;
  }
}

ion-app.cameraView{
  background: transparent none !important;
}