<ion-header>

  <ion-navbar color="grey">
    <ion-title>Lista de productos</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img  src="assets/img/logosmall.png" />
      </ion-col>
      <ion-col col-9>
        <form (submit)="searchProduct()">
    <ion-list>

      <ion-item>
        <ion-label>
          <ion-icon name="ios-search">
          </ion-icon>
          Buscar</ion-label>
        <ion-input type="text" [(ngModel)]="search.parameter" name="parameter">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="funnel">
          </ion-icon>
          Filtrar</ion-label>
        <ion-select [(ngModel)]="search.filter" multiple="false" name="filter" placeholder="Todos">
          <ion-option value="all" selected="selected">Todos</ion-option>
          <ion-option value="order">Orden Alfabetico</ion-option>
          <ion-option value="name">Nombre</ion-option>
          <ion-option value="company">Marca</ion-option>
          <ion-option value="category">Categoria</ion-option>
        </ion-select>
      </ion-item>
      <div padding>
        <button ion-button color="grey2" block outline>Buscar</button>
      </div>
    </ion-list>


  </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
  <ion-list>

    <ion-item-sliding *ngFor="let item of results">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <!--<img  ng-src="{{item.images ? item.images[0].publicId : 'assets/img/logosmall.png'}}"
          {{item.images[0].publicId}}/>-->
          <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
          <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.company}}</p>
        <ion-note item-end >{{item.avgRate}}</ion-note>
      </button>
      <!--<ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>-->
    </ion-item-sliding>
  </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
