<ion-header>

  <ion-navbar color="grey">
    <ion-title>Rankings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="rankings" color="light">
      <ion-segment-button value="all">
        <ion-icon name="trophy"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="desktop">
        <ion-icon name="desktop"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="laptop">
        <ion-icon name="laptop"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tablet">
        <ion-icon name="tablet-landscape"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="phone">
        <ion-icon name="phone-portrait"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="accessories">
        <ion-icon name="headset"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="rankings" >
    <ion-list *ngSwitchCase="'all'">
      <ion-item-sliding *ngFor="let item of allbest">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
          <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.company}}</p>
        <ion-note item-end >{{item.avgRate}}</ion-note>
         </button>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'desktop'">
      <ion-item-sliding *ngFor="let item of desktopbest">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
            <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.company}}</p>
          <ion-note item-end >{{item.avgRate}}</ion-note>
        </button>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'laptop'">
      <ion-item-sliding *ngFor="let item of laptopbest">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
            <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.company}}</p>
          <ion-note item-end >{{item.avgRate}}</ion-note>
        </button>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'tablet'">
      <ion-item-sliding *ngFor="let item of tabletbest">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
            <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.company}}</p>
          <ion-note item-end >{{item.avgRate}}</ion-note>
        </button>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'phone'">
      <ion-item-sliding *ngFor="let item of phonebest">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
            <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.company}}</p>
          <ion-note item-end >{{item.avgRate}}</ion-note>
        </button>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'accessories'">
      <ion-item-sliding *ngFor="let item of accessoriesbest">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img *ngIf="item.images?.length>0" src={{item.images[0].src}}>
            <img *ngIf="item.images?.length==0"   src='assets/img/speakers/photo.jpg'>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.company}}</p>
          <ion-note item-end >{{item.avgRate}}</ion-note>
        </button>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
