page-login {

    .forgot-password{
        margin: 0 auto;
        background:transparent;
        color:#A0A0A0;
        text-decoration: underline;
        text-align: center;
      font-size: 15px;
    }

    .password{
        width: 100%;
    }
}
