<ion-header>

  <ion-navbar color="grey">
    <ion-title>{{ currentItem?.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addRating()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card >
    <ion-item color="white">
      <ion-slides class="photo" pager zoom *ngIf="currentItem?.images?.length>0">
        <ion-slide *ngFor="let image of currentItem?.images" height="400" width="400">
          <img src={{image.src}} height="400" width="400">
        </ion-slide>
      </ion-slides>
      <img  *ngIf="item.images?.length==0" src="assets/img/speakers/photo.jpg" height="400" width="400" />
    </ion-item>

  <ion-card-content>
    <ion-card-title color="light">
    {{currentItem?.name}}
  </ion-card-title>
  </ion-card-content>
    <ion-item>
      <ion-icon name='globe' item-start style="color: #E3E2E2"></ion-icon>
      Marca
      <ion-badge item-end color="light">{{currentItem?.company}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name='list' item-start style="color: #E3E2E2"></ion-icon>
      Categoria
      <ion-badge item-end color="light">{{currentItem?.category}}</ion-badge>
    </ion-item>
   <ion-item>
     <ion-icon name='create' item-start style="color: #E3E2E2"></ion-icon>
     Puntuación media
     <ion-badge item-end color="light">{{currentItem?.avgRate}}</ion-badge>

   </ion-item>

  </ion-card>

  <ion-card color="comments" *ngFor="let rating of currentItem?.ratings">

    <ion-item color="comments">
      <ion-avatar item-start>
        <img src={{rating.userId?.profileImage}}>

      </ion-avatar>
      <h1 item-end>{{rating.rate}}</h1>
      <h2>{{rating.title}}</h2>
      <p>{{rating.userId?.name}}</p>
    </ion-item>

    <ion-card-content >
      <p>{{rating.comment}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button (click)="like(rating)" *ngIf="!rating.liked" color="dark" icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{rating.numLike}}</div>
        </button>
        <button ion-button *ngIf="rating.liked" color="like" icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{rating.numLike}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button *ngIf="!rating.disliked" (click)="dislike(rating)" color="dark" icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>{{rating.numDislike}}</div>
        </button>
        <button ion-button *ngIf="rating.disliked" color="danger" icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>{{rating.numDislike}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button (click)="report(rating)" color="dark" icon-left clear small>
          <ion-icon name="megaphone"></ion-icon>
          <div>Reportar</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note color="light">
          {{rating.date| date:'longDate'}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
