page-settings {
  ion-avatar img{
    width: 100% !important;
    height: 100% !important;
    max-width: 100px !important;
    max-height: 100px !important;
    margin: 0 auto;
    border: 1px solid white;
  }

  .bottom{
    position:absolute;
    bottom: 0;
    width:100%;
  }

  .bottom .delete{
    color:red;
    border:1px solid red;
    margin-top:15px;
  }

  div ion-icon{
    padding-right: 8px;
  }

  .contact ion-label{
    margin: 0 auto;
    background:transparent;
    color:#A0A0A0;
    text-decoration: underline;
    text-align: center;
    font-size: 15px;
  }

  .contact{
    width: 100%;
    padding-top: 8px;
  }

}
